body{
    background-color: #ffcb9a;
}
#Name{
    text-align: center;
}
.container{
    background-color: #116466;
    color: white;
}
.one{
    text-align: center;
}
#contacts {
    background-color: #bc986a;
    align-items: center;
    margin: 10px; 
  }
  #contacts>p{
    display: inline-flex;
    justify-content: space-evenly;
  }