body{
    background-color: #daad86;
}
#Name{
    text-align: center;
}
.container{
    background-color: #659dbd;
}
#contacts {
    background-color: #bc986a;
    padding: 20px;
    color: white;
    align-items: center;
    border: 5px solid black;
    margin: 10px; 
  }
  #contacts>p{
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px ;